img {
   width: 300px;
   height: 400px;
    
}
body {
margin: 0px;
padding: 0px;
background-color: hotpink;
}

ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: chocolate;
}